<header ng-switch on="$location.path().indexOf('/PaypalPayments/new') > -1">
    <h3 ng-switch-when="true">Create a new PaypalPayment</h3>
    <h3 ng-switch-when="false">View or edit PaypalPayment</h3>
</header>
<form id="PaypalPaymentForm" name="PaypalPaymentForm" class="form-horizontal" role="form">
    

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePaypalPayment" name="savePaypalPayment" class="btn btn-primary" ng-disabled="isClean() || PaypalPaymentForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deletePaypalPayment" name="deletePaypalPayment" class="btn btn-danger" ng-show="paypalPayment.paypalPaymentId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>