<header ng-switch on="$location.path().indexOf('/LinkedInAccounts/new') > -1">
    <h3 ng-switch-when="true">Create a new LinkedInAccount</h3>
    <h3 ng-switch-when="false">View or edit LinkedInAccount</h3>
</header>
<form id="LinkedInAccountForm" name="LinkedInAccountForm" class="form-horizontal" role="form">
    

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveLinkedInAccount" name="saveLinkedInAccount" class="btn btn-primary" ng-disabled="isClean() || LinkedInAccountForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteLinkedInAccount" name="deleteLinkedInAccount" class="btn btn-danger" ng-show="linkedInAccount.linkedInAccountId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>