<div class="form-horizontal">
    <h3>Create a new TwitterAssociations</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/TwitterAssociations/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for TwitterAssociations</h3>
    <form id="TwitterAssociationsSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="twitterAccountId1" class="col-sm-2 control-label">Twitter Account Id 1</label>
        <div class="col-sm-10">
            <input id="twitterAccountId1" name="twitterAccountId1" class="form-control" type="text" ng-model="search.twitterAccountId1" placeholder="Enter the TwitterAssociations Twitter Account Id 1"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="twitterAccountId2" class="col-sm-2 control-label">Twitter Account Id 2</label>
        <div class="col-sm-10">
            <input id="twitterAccountId2" name="twitterAccountId2" class="form-control" type="text" ng-model="search.twitterAccountId2" placeholder="Enter the TwitterAssociations Twitter Account Id 2"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Twitter Account Id 1</th>
                    <th>Twitter Account Id 2</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/TwitterAssociations/edit/{{result.associationId}}">{{result.twitterAccountId1}}</a></td>
                    <td><a href="#/TwitterAssociations/edit/{{result.associationId}}">{{result.twitterAccountId2}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>