<header ng-switch on="$location.path().indexOf('/TwitterAccounts/new') > -1">
    <h3 ng-switch-when="true">Create a new TwitterAccount</h3>
    <h3 ng-switch-when="false">View or edit TwitterAccount</h3>
</header>
<form id="TwitterAccountForm" name="TwitterAccountForm" class="form-horizontal" role="form">
    

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveTwitterAccount" name="saveTwitterAccount" class="btn btn-primary" ng-disabled="isClean() || TwitterAccountForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteTwitterAccount" name="deleteTwitterAccount" class="btn btn-danger" ng-show="twitterAccount.twitterAccountId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>